.container {
  display: block;
  padding: 0.67em 0.67em;
  font-family:'Times New Roman', Times, serif;
}

h1{
  font-weight: bold !important;
}

.heading {
  line-height:normal;
  font-size: xx-large;
}

.outer_div {
  color: green;
  font-size: 22px;
  text-align: center;
}

.link {
  padding: 1rem 1rem;
}